<h1>Product</h1>
<ul>
  <%= @product.title %>
  <%= @final_rating %>
  <h2>Ratings</h2>
  <% @product.reviews.each do |review| %>
    <li>
      <%= review.review %>. Rating:  <%= review.rating %>
    </li>
  <% end %>
</ul>