<h1><%= @product.title %></h1>

<div id="rating">Rating <%= @product.rating.round(1) %></div>
<div id="ratingStars">
  <%  @product.rating.to_i.times do  %>
    <span class="bi bi-star-fill"></span>
<% end %>
</div>
<%= link_to new_product_review_url(@product), :class => "btn btn-light" do %>
  Add review
<% end %>